<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	">

<!-- Bean managed transactions -->

	<!-- ============== DaoBeans for entities in package com.goldengekko.users.domain ============ -->
	<bean id="duConnectionDataDao" 
		class="com.goldengekko.users.dao.DuConnectionDataDaoBean">
	</bean>
	<bean id="duConnectionFactoryDao" 
		class="com.goldengekko.users.dao.DuConnectionFactoryDaoBean">
	</bean>
	<bean id="duNamespaceDao" 
		class="com.goldengekko.users.dao.DuNamespaceDaoBean">
	</bean>
	<bean id="duUserDao" 
		class="com.goldengekko.users.dao.DuUserDaoBean">
	</bean>
	

</beans>