<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	">

<!-- Bean managed transactions -->

	<!-- ============== DaoBeans for entities in package com.wadpam.rnr.domain ============ -->
    <bean id="dProductDao"
          class="com.wadpam.rnr.dao.DProductDaoBean">
    </bean>

    <bean id="dRatingDao"
		class="com.wadpam.rnr.dao.DRatingDaoBean">
    </bean>

    <bean id="dLikeDao"
          class="com.wadpam.rnr.dao.DLikeDaoBean">
    </bean>

    <bean id="dThumbsDao"
          class="com.wadpam.rnr.dao.DThumbsDaoBean">
    </bean>

    <bean id="dCommentDao"
          class="com.wadpam.rnr.dao.DCommentDaoBean">
    </bean>

    <bean id="dFavoritesDao"
          class="com.wadpam.rnr.dao.DFavoritesDaoBean">
    </bean>

    <bean id="dAppSettingsDao"
          class="com.wadpam.rnr.dao.DAppSettingsDaoBean">
    </bean>

    <bean id="feedbackDao"
          class="com.wadpam.rnr.dao.DFeedbackDaoBean">
    </bean>


</beans>