<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">



    <!--           Security             -->
    <import resource="spring-security.xml" />

    <!-- properties -->

    <!--
    <bean id="applicationPropertyResource" class="org.springframework.core.io.ClassPathResource">
        <constructor-arg value="application.properties" />
    </bean>



    <bean class="org.springframework.context.support.PropertySourcePlaceholderConfigurer">
        <property name="location">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>

    -->

    <context:property-placeholder location="classpath:application.properties"
                                  ignore-resource-not-found="true"/>

    <mvc:annotation-driven>
         <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <property name="objectMapper" ref="jsonObjectMapper"/>
            </bean>
        </mvc:message-converters>
     </mvc:annotation-driven>

    <mvc:resources mapping="/**/*.html" location="/static/" />
    <mvc:resources mapping="/**/*.css" location="/static/" />
    <mvc:resources mapping="/**/*.png" location="/static/" />
    <mvc:resources mapping="/**/*.jpg" location="/static/" />
    <mvc:resources mapping="/**/*.svg" location="/static/" />
    <mvc:resources mapping="/**/*.ttf" location="/static/" />
    <mvc:resources mapping="/**/*.woff" location="/static/" />

    <mvc:default-servlet-handler />

    <!--           Services             -->
    <import resource="classpath:/rnr-service.xml" />

    <bean id="domainFilter" class="com.wadpam.rnr.service.DomainFilter" />

    <!--           Transaction management       -->
    <import resource="classpath:/rnr-transaction.xml" />


    <!--           Controllers             -->
    <bean class="com.wadpam.rnr.web.MonitorController" />


    <bean id="jsonObjectMapper" class="com.goldengekko.serverutils.SkipNullObjectMapper" init-method="init" />

</beans>
