<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:s="http://www.springframework.org/schema/security"
         xsi:schemaLocation="
         http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
         http://www.springframework.org/schema/security
         http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <http pattern="/favicon.ico" security="none" />
    <http pattern="/index.html" security="none" />
    <http pattern="/loggedout.html" security="none" />
    <http pattern="/loggedin.html" security="none" />


    <http pattern="/api/*/monitor/**" security="none" />

</b:beans>
