<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">



    <!--           Security
    <import resource="spring-security.xml" />
     -->

    <!--           Application properties         -->
    <context:property-placeholder location="classpath:application.properties"
                                  ignore-resource-not-found="true"/>

    <mvc:annotation-driven>
         <mvc:message-converters>
            <bean class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
                <property name="objectMapper" ref="jsonObjectMapper"/>
            </bean>
        </mvc:message-converters>
     </mvc:annotation-driven>

    <mvc:resources mapping="/**/*.html" location="/static/" />
    <mvc:resources mapping="/**/*.css" location="/static/" />
    <mvc:resources mapping="/**/*.png" location="/static/" />
    <mvc:resources mapping="/**/*.jpg" location="/static/" />
    <mvc:resources mapping="/**/*.svg" location="/static/" />
    <mvc:resources mapping="/**/*.ttf" location="/static/" />
    <mvc:resources mapping="/**/*.woff" location="/static/" />

    <mvc:default-servlet-handler />

    <!--           Services             -->
    <import resource="classpath:/rnr-service.xml" />

    <bean id="domainFilter" class="com.wadpam.open.domain.service.DomainFilter" />

    <!--           Transaction management       -->
    <import resource="classpath:/spring-transaction.xml" />

    <!--           Controllers             -->
    <bean class="com.wadpam.open.web.MonitorController" />

    <bean class="com.wadpam.open.web.IsAliveController" />


    <bean id="jsonObjectMapper" class="com.wadpam.open.json.SkipNullObjectMapper" init-method="init" />

</beans>
